* {
    box-sizing: border-box;
}

:root {
    --main-color: rgb(106, 140, 179);
}

body {
    font-family: 'Cabin', sans-serif;
}

ul, li { display: block; list-style: none; padding: 0;}
a { 
    /* display: block; */
    text-decoration: none;
}

main {
    margin-top: 150px;
}

.position-relative {
    position: absolute;
}

section {
    margin: 50px 5px;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-weight: bold;
    margin: 50px 0;
}

footer {
    margin-top: 50%;
    height: 30px;
    width: 100%;
    background-color: black;
}

.description-list {
    margin-left: 20px;
}

.comment {
    text-align: start;
    font-style: italic;
}

.content-card {
    margin-bottom: 15px;
}

.content-card img {
    width: 50%;
}
